@layer base {
  :root {
    --made-with-panda: '🐼';
    }

  *, *::before, *::after, ::backdrop {
    --blur:   ;
    --brightness:   ;
    --contrast:   ;
    --grayscale:   ;
    --hue-rotate:   ;
    --invert:   ;
    --saturate:   ;
    --sepia:   ;
    --drop-shadow:   ;
    --backdrop-blur:   ;
    --backdrop-brightness:   ;
    --backdrop-contrast:   ;
    --backdrop-grayscale:   ;
    --backdrop-hue-rotate:   ;
    --backdrop-invert:   ;
    --backdrop-opacity:   ;
    --backdrop-saturate:   ;
    --backdrop-sepia:   ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
    }

  .elite-color {
    color: gold;
    }

  .icon {
    height: 1.25em;
    width: 1.25em;
    vertical-align: top;
    display: inline-block;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    }

  .aoe.h1 {
    height: 1.5em;
    width: 1.5em;
    }

  .aoe.h2 {
    height: 3em;
    width: 3em;
    }

  .aoe.h3 {
    height: 4.5em;
    width: 4.5em;
    }

  .aoe.h4 {
    height: 6em;
    width: 6em;
    }

  .aoe.h6 {
    height: 7.5em;
    width: 7em;
    }

  .aoe.inline {
    display: inline-block;
    }

  .aoe.rotated.not(.inline) {
    position: absolute;
    top: var(--spacing-0);
    right: var(--spacing-0);
    bottom: var(--spacing-0);
    margin: auto 0;
    }

  .mirrored {
    transform: scale(-1,1);
    }

  .rotated {
    transform: rotateZ(-60deg);
    }

  .rotated-inverse {
    transform: rotateZ(60deg);
    }

  .nobr {
    white-space: nowrap;
    }

  .small {
    font-size: 75%;
    }

  .element {
    height: 1.75em;
    width: 1.75em;
    vertical-align: middle;
    display: inline-block;
    }

  .element.overlay {
    margin-left: -1.75em;
    z-index: 1;
    }

  .collapse {
    display: inline-block;
    width: var(--sizes-0);
    }

  html {
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    }

  body {
    background: var(--colors-bg-canvas);
    color: var(--colors-fg-default);
    }

  body.dark, .dark body {
    color-scheme: dark;
    }

  *, *::before, *::after {
    border-color: var(--colors-border-subtle);
    border-style: solid;
    box-sizing: border-box;
    }

  *::placeholder {
    opacity: 1;
    color: var(--colors-fg-subtle);
    }

  *::selection {
    background: var(--colors-accent-a4);
    }
}